
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Information!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container text-center">
    <h1 class="jumbotron">Mars Information</h1>
    
    <h4>
        Mars News: Air Deliveries Bring NASA&#39;s Perseverance Mars Rover Closer to Launch
    </h4>  
    <h5>
        A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover&#39;s sample collection tubes — to Florida for this summer&#39;s liftoff.
    </h5>
    <div>
        <img style="max-width:100%"  src= "https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA18903_hires.jpg"> 
    </div>
    <h3>
        Weather on Mars:
    </h3>
    <H6>
        InSight sol 513 (2020-05-06) low -93.0ºC (-135.3ºF) high -0.1ºC (31.8ºF)
winds from the SW at 5.0 m/s (11.3 mph) gusting to 16.2 m/s (36.3 mph)
pressure at 6.90 hPapic.twitter.com/KfPRbr99Jl
    </H6>
    <h3>
        Mars Facts
    </h3>
    <table class="center;">
        
           <tr>
                <th> Equatorial Diameter: </th>
                <td> 6,792 km </td>
           </tr>
        
           <tr>
                <th> Polar Diameter: </th>
                <td> 6,752 km </td>
           </tr>
        
           <tr>
                <th> Mass: </th>
                <td> 6.39 × 10^23 kg (0.11 Earths) </td>
           </tr>
        
           <tr>
                <th> Moons: </th>
                <td> 2 (Phobos &amp; Deimos) </td>
           </tr>
        
           <tr>
                <th> Orbit Distance: </th>
                <td> 227,943,824 km (1.38 AU) </td>
           </tr>
        
           <tr>
                <th> Orbit Period: </th>
                <td> 687 days (1.9 years) </td>
           </tr>
        
           <tr>
                <th> Surface Temperature: </th>
                <td> -87 to -5 °C </td>
           </tr>
        
           <tr>
                <th> First Record: </th>
                <td> 2nd millennium BC </td>
           </tr>
        
           <tr>
                <th> Recorded By: </th>
                <td> Egyptian astronomers </td>
           </tr>
        
    </table>
    <h3>Mars Hemisphere Pictures</h3>
    <div>
        
        <div>
            <a href = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif">cerberus hemisphere</a>
        </div>
        
        <div>
            <a href = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif">schiaparelli hemisphere</a>
        </div>
        
        <div>
            <a href = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif">syrtis hemisphere</a>
        </div>
        
        <div>
            <a href = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif">valles hemisphere</a>
        </div>
        
    </div>
  </div>
</body>

</html>